<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title> Data </title>
</head>

<body>
    <h1><%= user %>'s data list</h1>
    <!-- <% for(let i=0; i<datas.length; i++) {%>
            <ul>
                <li>time: <%= datas[i].current_time %></li>
                <li>blood pressure: <%= datas[i].blood_pressure %></li>
                <li>blood sugar: <%= datas[i].blood_sugar %></li>
            </ul>
        <% } %> -->

    <% for(let i=0; i<datas.length; i++) {%>
    <h3>Client body info</h3>
    <ul>
        <li>Age: <%= datas[i].Age %></li>
        <li>time: <%= datas[i].Date %></li>
        <li>Weight: <%= datas[i].Weight %></li>
        <li>Illness: <%= datas[i].Illness %></li>
        <li>Clinic: <%= datas[i].Clinic %></li>
    </ul>
    <h3>Health Conditions(in-time)</h3>
    <ol>
        <li>Medical Tracking: <%= datas[i].MedNow</li> <!-- 病人目前接受的治療、用藥、以及距離上次診斷時間 -->
        <li>Sleep Time: <%= datas[i].SleepTime %></li>
        <li>Walk Step: <%= datas[i].WalkStep %></li>
        <li>Blood Pressure Trend: <%= datas[i].BloodPresPic </li>
            <!-- refresh every 15 seconds, with warning while exceed certain standard-->
        <li>Heart Rate Trend: <%= datas[i].HeartRate </li>
        <li>Report: <%= datas[i].HealthReport</li> <!-- 病人自己回報身體不適 -->
        <p>
            <form action="http://line"> <!-- 輸入Line Link/online ChatBot 網址 -->
                <input type="submit" value="Contact the Client" />
            </form>
        </p>

       <form action="http://standards"> <!-- 提供個管師最新醫療判斷標準 -->
            <input type="submit" value="Check Out Newest Standards" />
        </form>
    </ol>


    <% } %>
</body>

</html>
